<link rel="stylesheet" href="{{ url_for('header.static', filename='css/header.css') }}"/>

<div id="log-in">
    <div class="topleft">
        <a href="{{ url_for('login.index') }}">
            <p style="text-align:left"><img src="static/media/img/מליכה.png" alt="log-in/Sign in" width="100" height="100" /></p>
        </a>

    </div>
</div>

<div id="header">
    <div id="logo">
        <p style="text-align:center;"><img id="logo_img" src="static/media/img/מליכה.png" alt=" logo">
    </div>

    <div class="topnav">
        <p style="text-align:center; color:white;">
            <a href="{{ url_for('homepage.index') }}">Homepage</a>
            <a href="{{ url_for('catalog.index') }}">Catalog</a>
            <a href="{{ url_for('about.index') }}">About</a>
        </p>
    </div>
</div>

